<div class="menu">
  <div class="menu-top-left">
  </div>
  <div class="menu-top-right">
  </div>
  <div class="menu-bottom-left">
  </div>
  <div class="menu-bottom-right">
  </div>
  <div class="menu-center">
  </div>
</div>