.menu {
    width: 100%;
}

.menu-center {
    width: 200px;
    height: 200px;
    position: absolute;
    left: calc(50vw - 106px);
    top: calc(50vh - 106px);
    background-image: url("assets/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 12px solid white;
}

.menu-top-left {
    width: calc(50vw - 12px);
    height: calc(50vh - 12px);
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("assets/code.jpg");
    background-size: cover;
    border: 6px solid white;
    border-top: 12px solid white;
    border-left: 12px solid white;
    border-radius: 30px;
}

.menu-top-right {
    width: calc(50vw - 30px);
    height: calc(50vh - 12px);
    position: absolute;
    left: calc(50% + 12px);
    top: 0;
    background-image: url("assets/book.jpg");
    background-size: cover;
    border: 6px solid white;
    border-top: 12px solid white;
    border-right: 12px solid white;
    border-radius: 30px;
}

.menu-bottom-left {
    width: calc(50vw - 12px);
    height: calc(50vh - 24px);
    position: absolute;
    left: 0;
    top: calc(50vh + 6px);
    background-image: url("assets/working.jpg");
    background-size: cover;
    border: 6px solid white;
    border-bottom: 12px solid white;
    border-left: 12px solid white;
    border-radius: 30px;
}

.menu-bottom-right {
    width: calc(50vw - 30px);
    height: calc(50vh - 24px);
    position: absolute;
    left: calc(50% + 12px);
    top: calc(50vh + 6px);
    background-image: url("assets/lady.jpg");
    background-size: cover;
    border: 6px solid white;
    border-bottom: 12px solid white;
    border-right: 12px solid white;
    border-radius: 30px;
}