.header {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgba(50, 150, 255, 0.8);
}

.header-background {
    position: fixed;
    width: 100%;
    height: 200px;
    background: rgba(1, 1, 1, 255) url("assets/header.png") no-repeat;
    background-size: cover;
}

.header-title h1 {
    margin: 0px;
    padding-top: 30px;
    color: white;
    font-size: 40px;
}